body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.page {
  font-family: 'PermanentMarker';
  background: #757074;
}

.header {
  height: 100vh;
  background-image: url(./images/IMG22.JPG);
  background-size: cover;
  text-align: center;
}
.header-title{
  font-family: "Permanent Marker", cursive;
  font-size: 140px;
  line-height: 140px;
  color: white;
  text-transform: uppercase;
  max-width: 1240px;
  margin: auto; ;

}
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;*
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 720px;
  margin: 100px auto 50px;

}

.card{
  width: 350px;
  margin-bottom: 60px;
  padding: 45px 45px 70px;
  background: #ffffff;
  box-shadow: 4px 4px 5px #362a1c;
}
.card-image{
  width: 100%;
  margin-bottom: 25px;
  object-Fit: contain;

}
.card-title{
  font-family: "Permanent Marker", cursive;
  font-size: 24px;
  margin-bottom: 10px;
}
.card-content{
  font-size: 16px;
}


.footer {
  display: flex;
  min-height: 300px;
  background-color: #000000;

}
.footer-author{
  font-size: 24px;
  color: #ffffff;
  margin: auto;
}

/* add a CSS rule for the footer signature */
